@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --last: 15rem;
  --fifth: 11rem;
  --fourth: 7rem;
  --third: 3rem;
  --current: 3rem;
  --top: 43%;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.last-top, .last-bottom {
  margin-right: var(--last);

  .pokemon-opacity {
    opacity: 0.9;
  }
}

.last-top {
  top: calc(var(--top) - 22.5rem);
}

.last-bottom {
  top: calc(var(--top) + 22.5rem);
}

.fifth-pokemon-top, .fifth-pokemon-bottom {
  margin-right: var(--fifth);

  .pokemon-opacity {
    opacity: 0.7;
  }
}

.fifth-pokemon-top {
  top: calc(var(--top) - 18rem);
}

.fifth-pokemon-bottom {
  top: calc(var(--top) + 18rem);
  z-index: 45;
}

.fourth-pokemon-top, .fourth-pokemon-bottom {
  margin-right: var(--fourth);

  .pokemon-opacity {
    opacity: 0.5;
  }
}

.fourth-pokemon-top {
  top: calc(var(--top) - 13.5rem);
}

.fourth-pokemon-bottom {
  top: calc(var(--top) + 13.5rem);
  z-index: 46;
}

.third-pokemon-top, .third-pokemon-bottom {
  margin-right: var(--third);

  .pokemon-opacity {
    opacity: 0.3;
  }
}

.third-pokemon-top {
  top: calc(var(--top) - 9rem);
}

.third-pokemon-bottom {
  top: calc(var(--top) + 9rem);
  z-index: 47;
}

:is(.second-pokemon-top, .second-pokemon-bottom) .pokemon-opacity {
  opacity: 0.15;
}

.second-pokemon-top {
  top: calc(var(--top) - 4.5rem)
}

.second-pokemon-bottom {
  top: calc(var(--top) + 4.5rem);
  z-index: 48;
}

.current-pokemon {
  margin-left: var(--current);
  top: calc(var(--top));
  z-index: 49;

  .pokemon-opacity {
    opacity: 0;
  }
}